<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onStart()"> Start simulation </button>
    <button class="btn btn-danger" (click)="onStop()"> Stop simulation </button>
    <i>// This application generate random logs to the Coralogix Rest API. App uses coralogix-logger library to make process easier.</i>
  </div>
  <hr>
  <div class="col-xs-12">
    <h3>Logs:</h3>
		<p *ngFor="let log of logs">{{log}}</p>
  </div>
</div>  
